* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#0f0c29), color-stop(#302b63), to(#24243e));
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul {
  list-style: none;
}

img {
  width: 12rem;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #2b2b2b;
  border: #2b2b2b 1px solid;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #2b2b2b;
  color: #f4f4f4;
}

.start-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.start-button-container #start-button {
  border: #f4f4f4 1px solid;
  color: #f4f4f4;
}

.start-button-container #start-button:hover {
  background-color: #f4f4f4;
  color: #2b2b2b;
}

#scanner-container {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 10;
  background-color: #2b2b2b;
  width: 60%;
  height: 50vh;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

#scanner-container .btn {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f4f4f4;
  border: #f4f4f4 1px solid;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#scanner-container .btn:hover {
  background-color: #f4f4f4;
  color: #2b2b2b;
}

#scanner-container .camera-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scanner-container .camera-body video {
  width: 265px;
  height: 200px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#scanner-container #result-form {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scanner-container #result-form label,
#scanner-container #result-form input {
  margin-right: 1rem;
}

#scanner-container #result-form label {
  color: #f4f4f4;
}

#scanner-container #result-form input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

#scanner-container .stop-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
}

#scanner-container .stop-button-container #stop-button {
  background-color: #921717;
  border: #921717 1px solid;
  color: #f4f4f4;
}

#scanner-container .stop-button-container #stop-button:hover {
  background-color: transparent;
  color: #921717;
}

.swiper-wrapper {
  margin-top: 5vh;
  width: 100%;
  height: 75vh;
}

.swiper-wrapper .swiper-slide {
  background-color: #f4f4f4;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 75vh;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.swiper-wrapper .swiper-slide .book-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-wrapper .swiper-slide .book-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-wrapper .swiper-slide .cta-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-wrapper .swiper-slide .cta-buttons a.btn.delete,
.swiper-wrapper .swiper-slide .cta-buttons a.btn.read-more {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-wrapper .swiper-slide .cta-buttons a.btn.delete:hover {
  background-color: transparent;
  border: #cc1212 1px solid;
  color: #cc1212;
}

.swiper-wrapper .swiper-slide .cta-buttons a.btn.read-more:hover {
  background-color: transparent;
  border: #3012b8 1px solid;
  color: #3012b8;
}

@media only screen and (max-width: 1024px) and (min-width: 430px) {
  .swiper-wrapper {
    margin-top: 10vh;
  }
  .swiper-wrapper .swiper-slide {
    min-height: 60vh;
  }
}

@media only screen and (max-width: 430px) {
  #scanner-container {
    width: 90%;
    left: 5%;
    height: 80vh;
  }
  #scanner-container .camera-body video {
    width: 240px;
    height: 360px;
  }
  #scanner-container #result-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #scanner-container #result-form input {
    margin: 0;
  }
  #scanner-container #result-form #add-button {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */